<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlistTuto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40D6E8541EC4CF1000928681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40D6E86B1EC4CF1000928681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40D6E8761EC4CF1000928681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
